/***************************************************
*				Menu Superior - Inicio   			*
****************************************************/
#menu_superior{
	font:Arial, Verdana,Helvetica,sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#000;
}

#menu_superior ul{
	list-style:none;
	width:100%;
	margin:0 auto;
	padding:0;
}

#menu_superior ul li{
	position:relative;
	float:left;
	margin-left:5px;
}

#menu_superior ul li{
	position:relative;
	float:left;
	margin-left:5px;
}


/***************************************************
*				Menu Superior - Fim     			*
****************************************************/


/***************************************************
*				Menu Lateral - Inicio				*
****************************************************/

#menuVertical{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}

#menuVertical ul{
	list-style:none;
	margin:3px 0px 2px 0px;
	padding-left:0px;
	width:99%;
}


#menuVertical ul li{
	margin-left:2px;
}

#menuVertical ul li.tituloMenu{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#9BBA1E;
}

#menuVertical ul li span{
	display:block;
	margin-left:33px;
	position:relative;
	top:6px;
	padding-bottom:10px;
}


#menuVertical ul li ul li a{
	text-decoration:none;
	padding:3px 3px 3px 40px;
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	color:#333333;
	margin:5px 0;
}

#menuVertical ul li ul li a:hover{
	color:#FFF;
	background:#9BBA1E;
}
/***************************************************
*				Formatação - icones					*
****************************************************/

.informatica{
	display:block;
	background:url(../icones/ic_informatica.gif) left top no-repeat;
}

.cameras{
	display:block;
	background:url(../icones/ic_filmadora.gif) left top no-repeat;
}

.telefone{
	display:block;
	background:url(../icones/ic_celular2.gif) left top no-repeat;
}

.games{
	display:block;
	background:url(../icones/ic_games.gif) left top no-repeat;
}

.video{
	display:block;
	background:url(../icones/ic_audio.gif) left top no-repeat;
}


/***************************************************
*				Menu Lateral - Fim  				*
****************************************************/