#menu_super {
	height:40px;
	background-color:#CCC;
	margin-top:-10px;
	}
	
#menu_lateral{
	float:left;
	width:200px;
	margin-top:100px;
	border:1px solid #9BBA1E;
	background-color:#FFFFFF;
	margin-left:10px;
	}
	
.barNav a {
	font: 12px  Arial, Verdana,Helvetica,sans-serif;
	font-weight:bold;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding: 1px 15px;
	margin-right:1px;
	float:right;
	}

.barNav a:hover {
	color: #666;
	}
	
	
.menu li{
	list-style:none;
	margin:0px 0px 0px 5px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	}